<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.free.diary"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".DiaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.TestActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GridEditActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".ui.activity.CalendarActivity"/>

        <activity
            android:name=".support.test.TestCalendarActivity"
            android:label="日历"/>

        <activity
            android:name=".support.test.TestOrmActivity"
            android:label="数据库"/>

    </application>

</manifest>
